*{
	margin: 0;
	padding: 0;
}
/* custome css */
/* ======================================================================== */

h1{
	font-family: Helvetica;
	color: #aaa;
}

body{
	margin:5px 0px; padding:0px;
	text-align:center;
	background-color: #000;
}
	
.content {
	width:960px;
	margin:0px auto;
	text-align:left;
	/*padding:15px;*/
	background-color:#fff;
}

.header {
	background-color:#fff;
	height: 7px;
}

.body {
	background-color:#fff;
}

.footer {
	background-color:#fff;
}

